
li {
    font-size: 20px;

}
h1 {color: rgb(66, 5, 5);
    text-align: center;
    text-underline-position: below;
    font-family: fantasy;
    font-size: 45px;
    text-shadow: 3px 2px rgb(105, 64, 199);
    
}

p.one {
    text-underline-position: below;
    font-family: fantasy;
    font-size: 30px;
    text-shadow: 3px 2px rgb(4, 1, 12);
    
}


h2 {color: rgb(0, 2, 10);
    text-align: center;
    background: linear-gradient(to bottom, #a1dbff 0%,#cbebff 53%,#89C6B0 100%);
    font-family: fantasy;
    font-size: 30px;
    font-weight: bold;
    font-family: fantasy;
    font-size: 30px;
    text-shadow: 3px 2px rgb(72, 38, 105);
    }

img {
    border: 5px solid black;
}

em {
    font-size: 20px;
}

table, th, td {
    border: 3px solid black;
    background-color: darkgrey;
    padding: 5px 55px;
    margin: auto
    }


body {background-image: url("../../Images/north-cascades.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: gray (4, 41, 48);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 2.0em
}
.container{
    widows: 80%;
    margin: auto;
}

.box-1{
    background: linear-gradient(to bottom, #a1dbff 0%,#cbebff 53%,#89C6B0 100%);
    font-family: fantasy;
    text-align: center;
    border: 1px solid rgb(0, 255, 191);
    outline-style: solid;
    outline-color: invert;
    color: grey;
}

.box-2{
    background: linear-gradient(to bottom, #a1dbff 0%,#cbebff 53%,#89C6B0 100%);
    font-family: fantasy;
    text-align: center;
    border: 1px solid rgb(0, 255, 191);
    outline-style: solid;
    outline-color: invert;
    color: grey;
}

  a:hover {
  color: #505168;
  background: #a1dbff; /* Old browsers */
  background: -moz-linear-gradient(top, #a1dbff 0%, #cbebff 53%, #89C6B0 100%);
  background: -webkit-linear-gradient(top, #a1dbff 0%,#cbebff 53%,#89C6B0 100%);
  background: linear-gradient(to bottom, #a1dbff 0%,#cbebff 53%,#89C6B0 100%);
  }
  
  a:active {
    background-color: #1b351c;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    
  }